if TARGET_DAWN_D1S

config SYS_BOARD
	default "dawn-d1s"

config SYS_VENDOR
	default "dawn"

config SYS_CPU
	default "generic"

config SYS_CONFIG_NAME
	default "dawn-d1s"

config SYS_TEXT_BASE
	default 0x40200000 if RISCV_SMODE && ARCH_RV64I

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select GENERIC_RISCV
	imply SMP
	imply BOARD_LATE_INIT
	imply CMD_EXT2
	imply CMD_EXT4
	imply CMD_FAT
	imply CMD_FS_GENERIC
	imply DOS_PARTITION
	imply ISO_PARTITION
	imply EFI_PARTITION
	imply DM_MMC

endif
